* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 6fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar content";
}

.header {
    grid-area: header;
}

.header-top .search {
    grid-area: search;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    grid-area: sidebar;
    background-color: #1992d4;
    color: white;
}

.sidebar .logo {
    display: flex;
    align-items: start;
    margin-bottom: 4rem;
}

.sidebar .nav {
    margin-bottom: 4rem;
}

.sidebar ul,
.sidebar a {
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
}

.sidebar li {
    line-height: 2.5rem;
}

.sidebar li img {
    margin-right: 1.2rem;
}

.content {
    grid-area: content;
    background-color: lightgray;
}