* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

.container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 6fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar content";
}

.header {
    grid-area: header;
    padding: 15px 35px;
    height: 160px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "header-top"
        "header-bottom";
}

.header-top {
    grid-area: header-top;
    display: grid;
    align-items: baseline;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
        "search profile";
}

.header-top .search {
    grid-area: search;
}

.header-top input {
    width: 75%;
    padding: 5px;
    border-radius: 12px;
    border: none;
    background-color: lightgrey;
}

.header-top .profile {
    grid-area: profile;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 1rem;
    gap: 1rem;
    font-weight: bold;
}

.header-bottom {
    grid-area: header-bottom;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "welcome buttons";
}

.header-bottom .welcome {
    grid-area: welcome;
    display: flex;
    align-items: center;
}

.header-bottom .greeting {
    margin-left: 8px;
    font-weight: 600;
}

.greeting .name {
    font-size: 1.6rem;
}

.header-bottom .buttons {
    grid-area: buttons;
    place-self: end;
    align-self: center;
}

.header-bottom button {
    border: none;
    border-radius: 25px;
    width: 6rem;
    height: 2.2rem;
    font-size: 1.2rem;
    background-color: #1992d4;
    color: white;
    margin: 0 15px;
    cursor: pointer;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    grid-area: sidebar;
    background-color: #1992d4;
    color: white;
}

.sidebar .logo {
    display: flex;
    align-items: start;
    margin-bottom: 4rem;
}

.sidebar .nav {
    margin-bottom: 4rem;
}

.sidebar ul,
.sidebar a {
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
}

.sidebar li {
    line-height: 2.5rem;
}

.sidebar li img {
    margin-right: 1.2rem;
}

.content {
    grid-area: content;
    background-color: lightgray;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "projects announcements"
        "projects trending";
}

.content .projects {
    grid-area: projects;
    padding: 1rem 4rem;
}

.project-container {
    display: grid;
    gap: 1rem;
    place-items: center;
    grid-template-columns: 1fr 1fr;
}

.projects > p,
.announcements > p,
.trending > p {
    font-size: 1.5rem;
    font-weight: bold;
}

.project-container .card {
    height: 175px;
    width: 350px;
    background-color: white;
    border-left: 6px solid gold;
    border-radius: 7px;
    padding: 1rem 1.8rem;
}

.content .announcements {
    grid-area: announcements;
    padding-top: 1.5rem;
    padding-right: 4rem;
}

.content .trending {
    grid-area: trending;
    padding-top: 1.8rem;
    padding-right: 4rem;
}