* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 6fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar content";
}

.header {
    grid-area: header;
}

.sidebar {
    display: grid;
    grid-template-rows: 1fr 2fr 3fr;
    grid-area: sidebar;
    background-color: #1992d4;
    padding: 16px 19px;
}

.sidebar .logo {
    display: flex;
}

.sidebar .logo img {
    width: 40px;
    height: 35px;
}

.content {
    grid-area: content;
    background-color: lightgray;
}